@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Dumbledor 1 Wide';
    src: url('assets/fonts/Dumbledor1Wide.eot');
    src: url('assets/fonts/Dumbledor1Wide.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Dumbledor1Wide.woff2') format('woff2'),
    url('assets/fonts/Dumbledor1Wide.woff') format('woff'),
    url('assets/fonts/Dumbledor1Wide.ttf') format('truetype'),
    url('assets/fonts/Dumbledor1Wide.svg#Dumbledor1Wide') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dumbledor 1 Cut Up';
    src: url('assets/fonts/Dumbledor1CutUp.eot');
    src: url('assets/fonts/Dumbledor1CutUp.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Dumbledor1CutUp.woff2') format('woff2'),
    url('assets/fonts/Dumbledor1CutUp.woff') format('woff'),
    url('assets/fonts/Dumbledor1CutUp.ttf') format('truetype'),
    url('assets/fonts/Dumbledor1CutUp.svg#Dumbledor1CutUp') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dumbledor 1';
    src: url('assets/fonts/Dumbledor1Thin.eot');
    src: url('assets/fonts/Dumbledor1Thin.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Dumbledor1Thin.woff2') format('woff2'),
    url('assets/fonts/Dumbledor1Thin.woff') format('woff'),
    url('assets/fonts/Dumbledor1Thin.ttf') format('truetype'),
    url('assets/fonts/Dumbledor1Thin.svg#Dumbledor1Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dumbledor 1 Rev';
    src: url('assets/fonts/Dumbledor1RevItalic.eot');
    src: url('assets/fonts/Dumbledor1RevItalic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Dumbledor1RevItalic.woff2') format('woff2'),
    url('assets/fonts/Dumbledor1RevItalic.woff') format('woff'),
    url('assets/fonts/Dumbledor1RevItalic.ttf') format('truetype'),
    url('assets/fonts/Dumbledor1RevItalic.svg#Dumbledor1RevItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Dumbledor 1 Outline';
    src: url('assets/fonts/Dumbledor1Outline.eot');
    src: url('assets/fonts/Dumbledor1Outline.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Dumbledor1Outline.woff2') format('woff2'),
    url('assets/fonts/Dumbledor1Outline.woff') format('woff'),
    url('assets/fonts/Dumbledor1Outline.ttf') format('truetype'),
    url('assets/fonts/Dumbledor1Outline.svg#Dumbledor1Outline') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dumbledor 1 Cut Down';
    src: url('assets/fonts/Dumbledor1CutDown.eot');
    src: url('assets/fonts/Dumbledor1CutDown.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Dumbledor1CutDown.woff2') format('woff2'),
    url('assets/fonts/Dumbledor1CutDown.woff') format('woff'),
    url('assets/fonts/Dumbledor1CutDown.ttf') format('truetype'),
    url('assets/fonts/Dumbledor1CutDown.svg#Dumbledor1CutDown') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dumbledor 1 Shadow';
    src: url('assets/fonts/Dumbledor1Shadow.eot');
    src: url('assets/fonts/Dumbledor1Shadow.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Dumbledor1Shadow.woff2') format('woff2'),
    url('assets/fonts/Dumbledor1Shadow.woff') format('woff'),
    url('assets/fonts/Dumbledor1Shadow.ttf') format('truetype'),
    url('assets/fonts/Dumbledor1Shadow.svg#Dumbledor1Shadow') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dumbledor 1';
    src: url('assets/fonts/Dumbledor1Italic.eot');
    src: url('assets/fonts/Dumbledor1Italic.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Dumbledor1Italic.woff2') format('woff2'),
    url('assets/fonts/Dumbledor1Italic.woff') format('woff'),
    url('assets/fonts/Dumbledor1Italic.ttf') format('truetype'),
    url('assets/fonts/Dumbledor1Italic.svg#Dumbledor1Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Dumbledor 1';
    src: url('assets/fonts/Dumbledor1.eot');
    src: url('assets/fonts/Dumbledor1.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Dumbledor1.woff2') format('woff2'),
    url('assets/fonts/Dumbledor1.woff') format('woff'),
    url('assets/fonts/Dumbledor1.ttf') format('truetype'),
    url('assets/fonts/Dumbledor1.svg#Dumbledor1') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dumbledor 1 3D';
    src: url('assets/fonts/Dumbledor13D.eot');
    src: url('assets/fonts/Dumbledor13D.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Dumbledor13D.woff2') format('woff2'),
    url('assets/fonts/Dumbledor13D.woff') format('woff'),
    url('assets/fonts/Dumbledor13D.ttf') format('truetype'),
    url('assets/fonts/Dumbledor13D.svg#Dumbledor13D') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tongari';
    src: url('assets/fonts/Tongari-Regular.eot');
    src: url('assets/fonts/Tongari-Regular.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Tongari-Regular.woff2') format('woff2'),
    url('assets/fonts/Tongari-Regular.woff') format('woff'),
    url('assets/fonts/Tongari-Regular.ttf') format('truetype'),
    url('assets/fonts/Tongari-Regular.svg#Tongari-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



